* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
#box {
  width: 693/750/10rem;
  height: 277/750/10rem;
  margin-left: 30/750/10rem;
  margin-top: 175/750/10rem;
  border-radius: 13/750/10rem;
  background-color: #2e6da4;
}
html {
  font-size: 750/10px;
}
